.root {
    -fx-background-color: #315151;
    -fx-font-family: Courier;
    -fx-font-size: 15;
}

.button {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #616161;
    -fx-text-fill: #ecebeb;
}

.button:hover {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #515151;
    -fx-text-fill: #b4b4b4;
}

.label {
    -fx-text-fill: #ecebeb;
}

.check-box {
    -fx-text-fill: #ecebeb;
}